@use "../../styles/mixins.scss" as *;

.footer {
    opacity: 0;
    transition: opacity 500ms;
    inset-block-start: 1rem;
    inset-block-end: 1rem;
    border-block-start: 0.05rem solid var(--text-color);
    padding: 1.5rem;
    @include font-details(var(--text-color), "bc-light", 0.6rem);
    text-transform: uppercase;
    letter-spacing: 2px;

    p {
        padding-inline-start: 1.5rem;
    }

    &.appear {
        opacity: 0.8;
    }
}

@media (min-width: 450px) {
    .footer {
        font-size: 0.8rem;
    }
}
