@use "../../styles/mixins.scss" as *;

.container {
    display: grid;
    gap: 1.5rem;
    padding-block: 1rem;
    margin: 0 auto;
    background: var(--background);
    align-items: end;

    div {
        display: grid;
        justify-items: start;
        width: 14rem;
        gap: 0.7rem;
        opacity: 0;
        transition: opacity 1.5s;

        &.inview {
            opacity: 1;
        }

        p {
            @include font-details(var(--text-color), "bc-regular", 0.8rem);
            text-transform: uppercase;
            text-align: justify;
            white-space: normal;
            padding-block-end: 0.3rem;
            border-block-end: 0.1rem solid var(--text-color);
            width: 14rem;
        }
    }
}

.picture {
    width: 14rem;
    height: 14rem;
}

@media (min-width: 375px) {
    .picture {
        width: 16rem;
        height: 16rem;
    }

    .container {
        div {
            width: 16rem;

            p {
                width: 16rem;
            }
        }
    }
}

@media (min-width: 550px) {
    .picture {
        width: 18rem;
        height: 18rem;
    }

    .container {
        div {
            width: 18rem;
            p {
                width: 18rem;
            }
        }
    }
}
@media (min-width: 650px) {
    .picture {
        width: 20rem;
        height: 20rem;
    }

    .container {
        div {
            width: 20rem;

            p {
                width: 20rem;
                font-size: 0.9rem;
            }
        }
    }
}

@media (min-width: 870px) {
    .picture {
        width: 23rem;
        height: 23rem;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        div {
            width: 23rem;

            p {
                width: 23rem;
                font-size: 0.9rem;
            }
        }
    }
}

@media (min-width: 1300px) {
    .picture {
        width: 23rem;
        height: 23rem;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        div {
            width: 35rem;
            display: flex;
            align-items: flex-end;

            &:nth-child(1) {
                flex-direction: row-reverse;
            }

            &:nth-child(2) {
                p {
                    text-align: right;
                }
            }

            p {
                width: 23rem;
                font-size: 0.9rem;
            }
        }
    }
}
@media (min-width: 1400px) {
    .picture {
        width: 25rem;
        height: 25rem;
    }

    .container {
        div {
            width: 40rem;
        }
    }
}

@media (min-width: 1550px) {
    .container {
        div {
            width: 44.2rem;
        }
    }
}

@media (min-width: 1700px) {
    .container {
        div {
            width: 48rem;
        }
    }
}
